<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主界面</title>
    <link rel="stylesheet" href="/static/css/style_main.css"> <!-- 引入外部 CSS 文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="main-container">
    <header>
        <div class="search-container">
            <input type="text" id="search-box" placeholder="请输入搜索内容">
            <div class="search-button-container">
                <button id="search-button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </header>
</div>
<div class="user-center-icon">
    <a href="user_center"><i class="fas fa-user"></i></a>
</div>
<script src="/static/js/main.js" defer></script>
</body>
</html>